:root {
  --violet: #718dba;
  --brown: #bc6c25;
  --yellow: #e9c46a;
  --lightOrange: #f4a261;
  --darkOrange: #c35003;
  --light: #f9eae1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--lightOrange);
  color: var(--darkOrange);
}

nav a {
  margin: 0 2rem;
  color: var(--darkOrange);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: var(--yellow);
}

button.navBtn {
  visibility: hidden;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--darkOrange);
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  button.navBtn {
    visibility: visible;
    opacity: 1;
  }

  nav.open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--lightOrange);
    transition: 1s;
    transform: none;
    position: absolute;
    z-index: 1;
  }

  nav.closed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--lightOrange);
    transition: 1s;
    transform: translateY(-100vh);
    position: absolute;
    z-index: 1;
  }

  nav.start {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--lightOrange);
    transition: 0s;
    transform: translateY(-100vh);
  }

  button.navCloseBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
