:root {
  --violet: #718dba;
  --brown: #bc6c25;
  --yellow: #e9c46a;
  --lightOrange: #f4a261;
  --darkOrange: #c35003;
  --light: #f9eae1;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--lightOrange);
  border: none;
  color: var(--light);
  text-align: center;
  font-size: 15px;
  padding: 8px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 8px;
  text-decoration: none;
  box-shadow: 3px 3px #718dba;
  font-weight: bold;
}

.button:hover {
  background-color: var(--violet);
}

.button:active {
  background-color: var(--lightOrange);
  box-shadow: 0 5px #718dba;
  transform: translateY(4px);
}

.desc {
  color: var(--brown);
  padding: 20px;
}

.bigDesc {
  color: var(--darkOrange);
  padding: 20px;
  font-size: 30px;
}

.list {
  color: var(--darkOrange);
  padding: 20px;
}
