.card {
  background-color: #e6f8e3;
  border-radius: 6px;
  padding: 4px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}

body {
  background-image: radial-gradient(#71bd64 20%, transparent 20%),
    radial-gradient(#75b333 20%, transparent 20%);
  background-color: #e6f8e3;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

h1 {
  font-size: 10px;
  color: #1b8a24;
}
